<%= form_for @recipe do |f|%>
    <p>
    <%= f.label :title%>
    <%= f.text_field :title%><br>

    </p>
 Ingredient 1:
 <br>
    <%= f.fields_for :ingredients, Ingredient.new do |ingredients_form|%>
    
        <%= ingredients_form.label :name %>
        <%= ingredients_form.text_field :name%>

        <%= ingredients_form.label :quantity %>
        <%= ingredients_form.text_field :quantity %>


    <% end %>

    <br>
    <br>
Ingredient 2:
<br>
    <%= f.fields_for :ingredients, Ingredient.new do |ingredients_form|%>
    
        <%= ingredients_form.label :name %>
        <%= ingredients_form.text_field :name%>

        <%= ingredients_form.label :quantity %>
        <%= ingredients_form.text_field :quantity %>


    <% end %>

    <%=f.submit%>

<% end %>

